<tr> </tr>
<div class="card border-primary mb-3">
  <div class="card-header">Lista de Vehiculos</div>
  <div class="card-body text-primary">

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>PLACA</th>
          <th>TIPO VEHICULO</th>
          <th>FECHA DE INGRESO</th>

        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let vehiculo of vehiculos" class="text-center">
          <th>{{vehiculo.id}}</th>
          <th>{{vehiculo.placa}}</th>
          <th>{{vehiculo.tipovehiculo}}</th>
          <th>{{vehiculo.fechaini |date: "fullDate" }} - {{vehiculo.horaini}}  </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
